@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/Poppins-Light.ttf') format('truetype');
}

*,
::after,
::before {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins';
    background-color: rgb(237, 237, 237);
    overflow-y: scroll;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    outline: none;
    border: none;
    cursor: pointer;
}