@import "./mixins.scss";

.Container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 30px;
}

.Container,
.RawContainer {
    margin-left: auto;
    margin-right: auto;
    max-width: 1366px;
    height: 100%;

    @include mobile-landscape {
        max-width: 90%;
    }
}

.MBottomTop-6 {
    margin-bottom: 6rem;
    margin-top: 6rem;
}

.Dflex {
    display: flex;

    &-alignCenter {
        align-items: center;
    }

    &-col {
        flex-direction: column;
    }

    &-alignEnd {
        align-items: end;
    }

    &-justifyCCenter {
      justify-content: center;
    }

    &-justifyCSpaceBetween {
      justify-content: space-between;
    }
}

.EllipsisLine2,
.EllipsisLine3,
.EllipsisLine4,
.EllipsisLine5 {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
  overflow-wrap: break-word;
}

.EllipsisLine2 {
  -webkit-line-clamp: 2;
}

.EllipsisLine3 {
  -webkit-line-clamp: 3;
}

.EllipsisLine4 {
  -webkit-line-clamp: 4;
}

.EllipsisLine5 {
  -webkit-line-clamp: 5;
}

.Close {
  position: absolute;
  font-size: 2rem;
  top: 1%;
  right: 1%;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: rgb(45, 45, 45);
  color: white;
}