$blue: #3622B7;
$blue-700: #271884;
$blue-transparent: #F2F6FF;
$red: #ff404d;
$red-700: #c73b44;
$red-transparent: #FFF0F1;
$orange-hover: #ba5e08;
$black: #4a4848;
$black-shadow: #00000022;
$whitesmoke: #dddddd;
$whitesmoke-light: rgb(245, 245, 245)