.BreadCrumb {
    display: flex;
    align-items: center;

    &>a {
        color: white;
        font-size: 14px;

        &>svg {
            font-size: 16px;
        }
    }

    &-chevron {
        font-size: 20px;
        margin: 0 3px;
        color: white;
    }
}