@import "../../global/variables.scss";

.CheckBox {
    border: 1px solid red;
    border-radius: 4px;
    position: relative;
    cursor: pointer;

    &-mark {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 17px;
        width: 17px;

        &:before {
            content: "";
            border-left: 1px solid $red;
            border-bottom: 3px solid $red;
            position: absolute;
            height: 25%;
            width: 60%;
            left: 50%;
            top: 40%;
            transform: translate(-50%, -50%) rotate(-50deg);
            display: none;
        }
    }

    >input {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        z-index: 1;
        cursor: pointer;
    }

    &>input:checked~&-mark:before {
        display: block;
    }
}